[submodule "fr-coolRabbit"]
	path = fr-coolRabbit
	url = https://github.com/Leafeer/fr-coolRabbit.git
[submodule "re-coolRabbit"]
	path = re-coolRabbit
	url = https://github.com/Leafeer/re-coolRabbit.git
[submodule "coderabbit"]
	path = coderabbit
	url = https://github.com/404N/coderabbit
[submodule "coolrabbit_flutter"]
	path = coolrabbit_flutter
	url = https://github.com/404N/coolrabbit_flutter
